{% extends "base.html" %}
{% block subject %}Welkom bij GSP Recruitment{% endblock %}
{% block content %}
<p>Beste {{ full_name }},</p>
<p>Welkom bij GSP Recruitment. Je account is aangemaakt en je kunt nu inloggen in het kandidatenportaal om je profiel aan te vullen en vacatures te bekijken.</p>
<p>Wij bemiddelen embedded software-, C++- en mechatronica-engineers in de Brainport-regio en verbinden je op basis van openbaar beschikbare informatie met relevante vacatures. Jouw gegevens gebruiken we uitsluitend voor die bemiddeling.</p>
<p>Vragen? Antwoord gerust op dit bericht.</p>
{% endblock %}
